In [1]:
import graphlab as gl

###Load Wiki Pages

In [2]:
people = gl.SFrame('people_wiki.gl/')

[INFO] This non-commercial license of GraphLab Create is assigned to justin_simcock@yahoo.comand will expire on October 12, 2016. For commercial licensing options, visit https://dato.com/buy/.

[INFO] Start server at: ipc:///tmp/graphlab_server-4000 - Server binary: /Users/justinsimcock/.graphlab/anaconda/lib/python2.7/site-packages/graphlab/unity_server - Server log: /tmp/graphlab_server_1446562433.log
[INFO] GraphLab Server Version: 1.6.1

In [3]:
people.head()

Columns:
	URI	str
	name	str
	text	str

Rows: 10

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+
|              text             |
+-------------------------------+
| digby morrell born 10 octo... |
| alfred j lewy aka sandy le... |
| harpdog brown is a singer ... |
| franz rottensteiner born i... |
| henry krvits born 30 decem... |
| sam henderson born october... |
| aaron lacrate is an americ... |
| trevor ferguson aka john f... |
| grant nelson born 27 april... |
| cathy caruth born 1955 is ... |
+-------------------------------+
[10 rows x 3 columns]

In [4]:
print len(people)

59071

In [8]:
obama = people[people['name'] == 'Barack Obama']
clooney = people[people['name'] == 'George Clooney']

In [7]:
obama['text']

dtype: str
Rows: ?
['barack hussein obama ii brk husen bm born august 4 1961 is the 44th and current president of the united states and the first african american to hold the office born in honolulu hawaii obama is a graduate of columbia university and harvard law school where he served as president of the harvard law review he was a community organizer in chicago before earning his law degree he worked as a civil rights attorney and taught constitutional law at the university of chicago law school from 1992 to 2004 he served three terms representing the 13th district in the illinois senate from 1997 to 2004 running unsuccessfully for the united states house of representatives in 2000in 2004 obama received national attention during his campaign to represent illinois in the united states senate with his victory in the march democratic party primary his keynote address at the democratic national convention in july and his election to the senate in november he began his presidential campaign in 2007 and after a close primary campaign against hillary rodham clinton in 2008 he won sufficient delegates in the democratic party primaries to receive the presidential nomination he then defeated republican nominee john mccain in the general election and was inaugurated as president on january 20 2009 nine months after his election obama was named the 2009 nobel peace prize laureateduring his first two years in office obama signed into law economic stimulus legislation in response to the great recession in the form of the american recovery and reinvestment act of 2009 and the tax relief unemployment insurance reauthorization and job creation act of 2010 other major domestic initiatives in his first term included the patient protection and affordable care act often referred to as obamacare the doddfrank wall street reform and consumer protection act and the dont ask dont tell repeal act of 2010 in foreign policy obama ended us military involvement in the iraq war increased us troop levels in afghanistan signed the new start arms control treaty with russia ordered us military involvement in libya and ordered the military operation that resulted in the death of osama bin laden in january 2011 the republicans regained control of the house of representatives as the democratic party lost a total of 63 seats and after a lengthy debate over federal spending and whether or not to raise the nations debt limit obama signed the budget control act of 2011 and the american taxpayer relief act of 2012obama was reelected president in november 2012 defeating republican nominee mitt romney and was sworn in for a second term on january 20 2013 during his second term obama has promoted domestic policies related to gun control in response to the sandy hook elementary school shooting and has called for full equality for lgbt americans while his administration has filed briefs which urged the supreme court to strike down the defense of marriage act of 1996 and californias proposition 8 as unconstitutional in foreign policy obama ordered us military involvement in iraq in response to gains made by the islamic state in iraq after the 2011 withdrawal from iraq continued the process of ending us combat operations in afghanistan and has sought to normalize us relations with cuba', ... ]

In [9]:
clooney['text']

dtype: str
Rows: ?
['george timothy clooney born may 6 1961 is an american actor writer producer director and activist he has received three golden globe awards for his work as an actor and two academy awards one for acting and the other for producingclooney made his acting debut on television in 1978 and later gained wide recognition in his role as dr doug ross on the longrunning medical drama er from 1994 to 1999 for which he received two emmy award nominations while working on er he began attracting a variety of leading roles in films including the superhero film batman robin 1997 and the crime comedy out of sight 1998 in which he first worked with a director who would become a longtime collaborator steven soderbergh in 1999 clooney took the lead role in three kings a wellreceived war satire set during the gulf warin 2001 clooneys fame widened with the release of his biggest commercial success the heist comedy oceans eleven the first of the film trilogy a remake of the 1960 film with frank sinatra as danny ocean he made his directorial debut a year later with the biographical thriller confessions of a dangerous mind and has since directed the drama good night and good luck 2005 the sports comedy leatherheads 2008 the political drama the ides of march 2011 and the comedydrama war film the monuments men 2014he won an academy award for best supporting actor for the middle east thriller syriana 2005 and subsequently earned best actor nominations for the legal thriller michael clayton 2007 the comedydrama up in the air 2009 and the drama the descendants 2011 in 2013 he received the academy award for best picture for producing the political thriller argo alongside ben affleck and grant heslov he is the only person ever to be nominated for academy awards in six categoriesclooney is sometimes described as one of the most handsome men in the world in 2005 tv guide ranked clooney no 1 on its 50 sexiest stars of all time list in 2009 he was included in times annual time 100 as one of the most influential people in the world clooney is also noted for his political activism and has served as one of the united nations messengers of peace since january 31 2008 his humanitarian work includes his advocacy of finding a resolution for the darfur conflict raising funds for the 2010 haiti earthquake 2004 tsunami and 911 victims and creating documentaries such as sand and sorrow to raise awareness about international crises he is also a member of the council on foreign relations', ... ]

###Word counts for documents

In [13]:
obama['word_count'] = gl.text_analytics.count_words(obama['text'])

print obama['word_count']

[{'operations': 1, 'represent': 1, 'office': 2, 'unemployment': 1, 'is': 2, 'doddfrank': 1, 'over': 1, 'unconstitutional': 1, 'domestic': 2, 'named': 1, 'ending': 1, 'ended': 1, 'proposition': 1, 'seats': 1, 'graduate': 1, 'worked': 1, 'before': 1, 'death': 1, '20': 2, 'taxpayer': 1, 'inaugurated': 1, 'obamacare': 1, 'civil': 1, 'mccain': 1, 'to': 14, '4': 1, 'policy': 2, '8': 1, 'has': 4, '2011': 3, '2010': 2, '2013': 1, '2012': 1, 'bin': 1, 'then': 1, 'his': 11, 'march': 1, 'gains': 1, 'cuba': 1, 'californias': 1, '1992': 1, 'new': 1, 'not': 1, 'during': 2, 'years': 1, 'continued': 1, 'presidential': 2, 'husen': 1, 'osama': 1, 'term': 3, 'equality': 1, 'prize': 1, 'lost': 1, 'stimulus': 1, 'january': 3, 'university': 2, 'rights': 1, 'gun': 1, 'republican': 2, 'rodham': 1, 'troop': 1, 'withdrawal': 1, 'involvement': 3, 'response': 3, 'where': 1, 'referred': 1, 'affordable': 1, 'attorney': 1, 'school': 3, 'senate': 3, 'house': 2, 'national': 2, 'creation': 1, 'related': 1, 'hawaii': 1, 'born': 2, 'second': 2, 'street': 1, 'election': 3, 'close': 1, 'operation': 1, 'insurance': 1, 'sandy': 1, 'afghanistan': 2, 'initiatives': 1, 'for': 4, 'reform': 1, 'federal': 1, 'review': 1, 'representatives': 2, 'debate': 1, 'current': 1, 'state': 1, 'won': 1, 'marriage': 1, 'victory': 1, 'unsuccessfully': 1, 'reauthorization': 1, 'keynote': 1, 'full': 1, 'patient': 1, 'august': 1, 'degree': 1, '44th': 1, 'bm': 1, 'mitt': 1, 'attention': 1, 'delegates': 1, 'lgbt': 1, 'job': 1, 'protection': 2, 'address': 1, 'ask': 1, 'november': 2, 'debt': 1, 'by': 1, 'care': 1, 'on': 2, 'great': 1, 'defense': 1, 'signed': 3, 'libya': 1, 'receive': 1, 'of': 18, 'months': 1, 'against': 1, 'foreign': 2, 'spending': 1, 'american': 3, 'harvard': 2, 'act': 8, 'military': 4, 'hussein': 1, 'or': 1, 'first': 3, 'and': 21, 'major': 1, 'clinton': 1, '1997': 1, 'campaign': 3, 'russia': 1, 'wall': 1, 'legislation': 1, 'into': 1, 'primary': 2, 'community': 1, 'three': 1, 'down': 1, 'hook': 1, 'ii': 1, '63': 1, 'americans': 1, 'elementary': 1, 'total': 1, 'earning': 1, 'often': 1, 'barack': 1, 'law': 6, 'from': 3, 'raise': 1, 'district': 1, 'representing': 1, 'nine': 1, 'reinvestment': 1, 'arms': 1, 'relations': 1, 'nobel': 1, 'start': 1, 'dont': 2, 'tell': 1, 'iraq': 4, 'convention': 1, 'strike': 1, 'served': 2, 'john': 1, 'was': 5, 'war': 1, 'form': 1, 'that': 1, 'tax': 1, 'sufficient': 1, 'republicans': 1, 'resulted': 1, 'hillary': 1, 'taught': 1, 'honolulu': 1, 'filed': 1, 'regained': 1, 'july': 1, 'hold': 1, 'with': 3, 'he': 7, '13th': 1, 'made': 1, 'brk': 1, '1996': 1, 'whether': 1, 'reelected': 1, 'budget': 1, 'us': 6, 'nations': 1, 'recession': 1, 'while': 1, 'economic': 1, 'limit': 1, 'policies': 1, 'promoted': 1, 'called': 1, 'at': 2, 'control': 4, 'supreme': 1, 'ordered': 3, 'nominee': 2, 'process': 1, '2000in': 1, '2012obama': 1, 'received': 1, 'romney': 1, 'briefs': 1, 'defeated': 1, 'general': 1, 'states': 3, 'as': 6, 'urged': 1, 'in': 30, 'sought': 1, 'organizer': 1, 'shooting': 1, 'increased': 1, 'normalize': 1, 'lengthy': 1, 'united': 3, 'court': 1, 'recovery': 1, 'laden': 1, 'laureateduring': 1, 'peace': 1, 'administration': 1, '1961': 1, 'illinois': 2, 'other': 1, 'which': 1, 'party': 3, 'primaries': 1, 'sworn': 1, '2007': 1, 'obama': 9, 'columbia': 1, 'combat': 1, 'after': 4, 'islamic': 1, 'running': 1, 'levels': 1, 'two': 1, 'included': 1, 'president': 4, 'repeal': 1, 'nomination': 1, 'the': 40, 'a': 7, '2009': 3, 'chicago': 2, 'constitutional': 1, 'defeating': 1, 'treaty': 1, 'relief': 2, '2004': 3, 'african': 1, '2008': 1, 'democratic': 4, 'consumer': 1, 'began': 1, 'terms': 1}]

###Sort Word Counts

In [14]:
obama_word_count_table = obama[['word_count']].stack('word_count', new_column_name = ['word','count'])

In [15]:
obama_word_count_table

Columns:
	word	str
	count	int

Rows: 273

Data:
+------------+-------+
|    word    | count |
+------------+-------+
|    cuba    |   1   |
| relations  |   1   |
|   sought   |   1   |
|   combat   |   1   |
|   ending   |   1   |
| withdrawal |   1   |
|   state    |   1   |
|  islamic   |   1   |
|     by     |   1   |
|   gains    |   1   |
+------------+-------+
[273 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [17]:
obama_word_count_table.sort('count',ascending=False)

Columns:
	word	str
	count	int

Rows: 273

Data:
+-------+-------+
|  word | count |
+-------+-------+
|  the  |   40  |
|   in  |   30  |
|  and  |   21  |
|   of  |   18  |
|   to  |   14  |
|  his  |   11  |
| obama |   9   |
|  act  |   8   |
|   he  |   7   |
|   a   |   7   |
+-------+-------+
[273 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [18]:
##We first need to compute a TF-IDF for the whole corpus
##Calculate word counts for each entry in the corpus
people['word_count'] = gl.text_analytics.count_words(people['text'])

In [19]:
people.head()

Columns:
	URI	str
	name	str
	text	str
	word_count	dict

Rows: 10

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+-------------------------------+
|              text             |           word_count          |
+-------------------------------+-------------------------------+
| digby morrell born 10 octo... | {'selection': 1, 'carltons... |
| alfred j lewy aka sandy le... | {'precise': 1, 'thomas': 1... |
| harpdog brown is a singer ... | {'just': 1, 'issued': 1, '... |
| franz rottensteiner born i... | {'all': 1, 'bauforschung':... |
| henry krvits born 30 decem... | {'they': 1, 'gangstergenka... |
| sam henderson born october... | {'currently': 1, 'less': 1... |
| aaron lacrate is an americ... | {'exclusive': 2, 'producer... |
| trevor ferguson aka john f... | {'taxi': 1, 'salon': 1, 'g... |
| grant nelson born 27 april... | {'houston': 1, 'frankie': ... |
| cathy caruth born 1955 is ... | {'phenomenon': 1, 'deboras... |
+-------------------------------+-------------------------------+
[10 rows x 4 columns]

In [23]:
##Graphlab has built in function to calculate TFIDF
tfidf = gl.text_analytics.tf_idf(people['word_count'])

In [24]:
people['tfidf'] = tfidf['docs']

###TF-IDF for the Obama Article

In [25]:
obama = people[people['name'] == 'Barack Obama']

In [29]:
obama[['tfidf']].stack('tfidf', new_column_name = ['word','tfidf']).sort('tfidf', ascending=False)

Columns:
	word	str
	tfidf	float

Rows: 273

Data:
+-------------+---------------+
|     word    |     tfidf     |
+-------------+---------------+
|    obama    | 43.2956530721 |
|     act     |  27.678222623 |
|     iraq    |  17.747378588 |
|   control   | 14.8870608452 |
|     law     | 14.7229357618 |
|   ordered   | 14.5333739509 |
|   military  | 13.1159327785 |
| involvement | 12.7843852412 |
|   response  | 12.7843852412 |
|  democratic | 12.4106886973 |
+-------------+---------------+
[273 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

###Compute "distances" of documents between different people

In [31]:
##Let's look at two different people, compare the text and see how different the texts are?


clinton = people[people['name'] == 'Bill Clinton']

beckham = people[people['name'] == 'David Beckham']

In [32]:
clinton['text']

dtype: str
Rows: ?
['william jefferson bill clinton born william jefferson blythe iii august 19 1946 is an american politician who served from 1993 to 2001 as the 42nd president of the united states inaugurated at age 46 he was the thirdyoungest president he took office at the end of the cold war and was the first president from the baby boomer generation clinton has been described as a new democrat many of his policies have been attributed to a centrist third way philosophy of governance before becoming president he was the governor of arkansas for five terms serving from 1979 to 1981 and from 1983 to 1992 he was also the states attorney general from 1977 to 1979born and raised in arkansas clinton became both a student leader and a skilled musician he is an alumnus of georgetown university where he was a member of kappa kappa psi and phi beta kappa and earned a rhodes scholarship to attend the university of oxford he is married to hillary rodham clinton who served as united states secretary of state from 2009 to 2013 and who was a senator from new york from 2001 to 2009 both clintons earned law degrees from yale law school where they met and began dating as governor of arkansas clinton overhauled the states education system and served as chair of the national governors associationclinton was elected president in 1992 defeating incumbent george h w bush clinton presided over the longest period of peacetime economic expansion in american history and signed into law the north american free trade agreement after failing to pass national health care reform the democratic house was ousted when the republican party won control of the congress in 1994 for the first time in 40 years two years later clinton became the first democrat since franklin d roosevelt to be elected president twice he passed welfare reform and the state childrens health insurance program providing health coverage for millions of children in 1998 he was impeached for perjury before a grand jury and obstruction of justice during a lawsuit against him both related to a scandal involving a white house intern he was acquitted by the us senate and served his complete term of office the congressional budget office reported a budget surplus between the years 1998 and 2000 the last three years of clintons presidencyclinton left office with the highest endofoffice approval rating of any us president since world war ii since then he has been involved in public speaking and humanitarian work clinton created the william j clinton foundation to address international causes such as the prevention of aids and global warming in 2004 he published his autobiography my life he has remained active in politics by campaigning for democratic candidates most notably for his wifes campaign for the 2008 democratic presidential nomination and then barack obamas presidential campaigns in 2008 and 2012 in 2009 he was named united nations special envoy to haiti and after the 2010 haiti earthquake he teamed with george w bush to form the clinton bush haiti fund since leaving office clinton has been rated highly in public opinion polls of us presidents', ... ]

In [34]:
beckham['text']

dtype: str
Rows: ?
['david robert joseph beckham obe bkm born 2 may 1975 is an english former professional footballer he has played for manchester united preston north end real madrid milan la galaxy paris saintgermain and the england national team for which he holds the appearance record for an outfield player he was the first english player to win league titles in four countries england spain the united states and france he announced his retirement at the end of the 201213 season and on 18 may 2013 played the final game of his 20year careerbeckhams professional career began with manchester united where he made his firstteam debut in 1992 aged 17 with united beckham won the premier league title six times the fa cup twice and the uefa champions league in 1999 he then played four seasons with real madrid winning the la liga championship in his final season with the club in july 2007 beckham signed a fiveyear contract with major league soccer club la galaxy while a galaxy player he spent two loan spells in italy with milan in 2009 and 2010 beckham was the first british footballer to play 100 champions league gamesin international football beckham made his england debut on 1 september 1996 at the age of 21 he was captain for six years during which he played 58 times he made 115 career appearances in total appearing at three fifa world cup editions 1998 2002 and 2006 and two uefa european championship tournaments 2000 and 2004renowned for his range of passing crossing ability and bending freekicks he has twice been runnerup for fifa world player of the year and in 2004 he was named in the fifa 100 list of the worlds greatest living players consistently ranked among the sports highest earners in 2013 beckham was listed as the best paid player in the world earning over 50 million in the previous 12 monthshe has been married to victoria beckham since 1999 and they have four children beckhams eldest son brooklyn currently plays football for arsenal u16 in february 2014 mls announced beckham and a group of investors would own an expansion team in miami which would begin play in 2016 or 2017', ... ]

In [ ]:
##Let's measure the distance between Obama/Clinton and Obama/Beckham

In [37]:
obama_clinton = gl.distances.cosine(obama['tfidf'][0], clinton['tfidf'][0])
obama_beckham = gl.distances.cosine(obama['tfidf'][0], beckham['tfidf'][0])

In [40]:
print "Obama to Beckham", obama_beckham
print "Obama to Clinton",obama_clinton

print "Clinton and Obama are more similar"

Obama to Beckham 0.979130584475
Obama to Clinton 0.833985493688
Clinton and Obama are more similar

###Build Nearest Neighbor model for Document Retrieval

In [42]:
knn_model = gl.nearest_neighbors.create(people, features = ['tfidf'], label ='name')

PROGRESS: Starting brute force nearest neighbors model training.

In [43]:
knn_model.query(obama)

PROGRESS: Starting pairwise querying.
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | Query points | # Pairs | % Complete. | Elapsed Time |
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | 0            | 1       | 0.00169288  | 37.457ms     |
PROGRESS: | Done         |         | 100         | 552.144ms    |
PROGRESS: +--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------+----------------+------+
| query_label | reference_label |    distance    | rank |
+-------------+-----------------+----------------+------+
|      0      |   Barack Obama  |      0.0       |  1   |
|      0      |    Joe Biden    | 0.794117647059 |  2   |
|      0      |  Joe Lieberman  | 0.794685990338 |  3   |
|      0      |   Kelly Ayotte  | 0.811989100817 |  4   |
|      0      |   Bill Clinton  | 0.813852813853 |  5   |
+-------------+-----------------+----------------+------+
[5 rows x 4 columns]

In [50]:
polanski = people[people['name'] == "Roman Polanski"]
knn_model.query(polanski)

PROGRESS: Starting pairwise querying.
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | Query points | # Pairs | % Complete. | Elapsed Time |
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | 0            | 1       | 0.00169288  | 24.629ms     |
PROGRESS: | Done         |         | 100         | 512.884ms    |
PROGRESS: +--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------+----------------+------+
| query_label | reference_label |    distance    | rank |
+-------------+-----------------+----------------+------+
|      0      |  Roman Polanski |      0.0       |  1   |
|      0      |    Jane Fonda   | 0.844827586207 |  2   |
|      0      | Terrence Malick | 0.848866498741 |  3   |
|      0      |   Stuart Urban  | 0.851778656126 |  4   |
|      0      |   David Lynch   | 0.852998065764 |  5   |
+-------------+-----------------+----------------+------+
[5 rows x 4 columns]

In [48]:
people['name'][-100:-1]
#knn_model.query(jordan)

dtype: str
Rows: 99
['H%C3%A9ctor Bidonde', 'Gary Dunham', 'Menderes T%C3%BCrel', 'Horace Arnold', 'Mary Soderstrom', 'Geills Turner', 'Barbara Coombs Lee', 'Paul Ramsey (politician)', 'Hu Xiaomei', 'Leopoldo Fern%C3%A1ndez', 'Geneva Overholser', 'Jeff Gray (baseball, born 1963)', 'Tilly Vosburgh', 'E. T. Mohammed Basheer', 'Craig Davis (Australian footballer)', 'Patricia Rhomberg', 'Mike Bruhert', 'Jack Swagger', 'Jonathan R. Steinberg', 'Antonio Guadagnini', 'Winston Chow', 'Jim Eddy', 'Edgar Renter%C3%ADa', 'Dave MacRae', 'Donald Keough', 'Julie Brill', 'Julia Galloway', 'J%C3%B8rgen Ingmann', 'Nicholas Rees', 'New Science Projects', 'Ron C. Bigelow', 'John Heyman', 'Beth Dunkenberger', 'Becky Garcia', 'Nikolay Kovalyov (politician)', 'Yodit Getahun', 'Brad Huse', 'John Clifford Wallace', 'Emilie Brown', 'Kaid Mohamed', 'Morinosuke Kawaguchi', 'A. N. Yiannopoulos', 'Henrik Lund-Nielsen', 'Peter Davison (composer)', 'Calvin A. Grant', 'Roman Polanski', 'Nasser Kara', 'Jim Casey (footballer)', 'James Blanchard (scientist)', 'Gianluigi Zuddas', 'Alan Musgrave', 'Julian Dawes', 'Eddie Landsberg', 'Chris Costner Sizemore', 'James Morris (bass-baritone)', 'Richard Thompson (footballer, born 1969)', 'Charlie Piggott', 'Eric Naposki', 'Michael J. Padilla', 'Edward W. Scott', 'Jeff Pegues', 'Dove Bradshaw', 'Andy Ihnatko', 'Kim Pensyl', 'Steven Myers', 'Sabitri Mitra', 'Roni Lynn Deutch', 'Simon Vega', 'Cho Oh-hyun', 'Gail Kulick Jackson', 'Mokob%C3%A9', 'F. Enzio Busche', 'Christian Wiman', 'Ellyn Setnor Bogdanoff', 'Katya Adler', 'Anthony-Noel Kelly', 'Mignon Clyburn', 'Charles A. Miller', 'Rodolfo Parada', 'Giwi Margwelaschwili', 'Geoffrey Kipsang', 'Dave Nilsson', 'Jessica Jordan', 'Marina Mulyayeva', 'Jo%C3%ABl de Rosnay', 'Amy Jenkins', 'Roy Zimmerman (satirist)', 'George Krause', 'Sean Slade', 'Lynne Lipton', 'Rod Wilt', 'Scott Baker (judge)', 'Dragoljub Ojdani%C4%87', 'Oz Bengur', 'Dee Brown (basketball, born 1968)', 'Olari Elts', 'Scott F. Crago', 'David Cass (footballer)', 'Keith Elias']

In [59]:
chow = people[people['name'] == 'Winston Chow']
knn_model.query(chow)

PROGRESS: Starting pairwise querying.
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | Query points | # Pairs | % Complete. | Elapsed Time |
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | 0            | 1       | 0.00169288  | 23.884ms     |
PROGRESS: | Done         |         | 100         | 477.818ms    |
PROGRESS: +--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+--------------------+----------------+------+
| query_label |  reference_label   |    distance    | rank |
+-------------+--------------------+----------------+------+
|      0      |    Winston Chow    |      0.0       |  1   |
|      0      |    Conrad Appel    | 0.873287671233 |  2   |
|      0      | Victoria A. Budson | 0.874306839187 |  3   |
|      0      |    Edward John     | 0.879725085911 |  4   |
|      0      | Stephen B. Shepard | 0.880658436214 |  5   |
+-------------+--------------------+----------------+------+
[5 rows x 4 columns]

In [61]:
arnold = people[people['name'] == "Arnold Schwarzenegger"]

arnold['text']

dtype: str
Rows: ?
['arnold alois schwarzenegger wrtsnr german anlt als vatsn born july 30 1947 is an austrianborn american actor producer activist businessman investor writer philanthropist former professional bodybuilder and politician schwarzenegger served two terms as the 38th governor of california from 2003 until 2011schwarzenegger began weight training at the age of 15 he won the mr universe title at age 20 and went on to win the mr olympia contest seven times schwarzenegger has remained a prominent presence in bodybuilding and has written many books and articles on the sport schwarzenegger gained worldwide fame as a hollywood action film icon schwarzeneggers breakthrough film was the swordandsorcery epic conan the barbarian in 1982 which was a boxoffice hit and resulted in a sequel in 1984 he appeared in james camerons sciencefiction thriller film the terminator which was a massive critical and boxoffice success schwarzenegger subsequently reprised the terminator character in the franchises later installments in 1991 2003 and 2015 he appeared in a number of successful films such as commando 1985 the running man 1987 predator 1987 twins 1988 total recall 1990 kindergarten cop 1990 and true lies 1994 he was nicknamed the austrian oak and the styrian oak in his bodybuilding days arnie during his acting career and the governator a portmanteau of governor and the terminator one of his bestknown movie roles since the start of his political careeras a republican he was first elected on october 7 2003 in a special recall election to replace thengovernor gray davis schwarzenegger was sworn in on november 17 2003 to serve the remainder of daviss term schwarzenegger was then reelected on november 7 2006 in californias 2006 gubernatorial election to serve a full term as governor defeating democrat phil angelides who was california state treasurer at the time schwarzenegger was sworn in for his second term on january 5 2007 in 2011 schwarzenegger completed his second term as governor and it was announced that he had separated from maria shriver his wife for the previous 25 years she is a member of the influential kennedy family as a niece of the late democratic us president john f kennedy on january 26 2015 he was announced as the second inductee into the wwe hall of fame class of 2015', ... ]

In [62]:
knn_model.query(arnold)

PROGRESS: Starting pairwise querying.
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | Query points | # Pairs | % Complete. | Elapsed Time |
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | 0            | 1       | 0.00169288  | 28.348ms     |
PROGRESS: | Done         |         | 100         | 499.083ms    |
PROGRESS: +--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------------+----------------+------+
| query_label |    reference_label    |    distance    | rank |
+-------------+-----------------------+----------------+------+
|      0      | Arnold Schwarzenegger |      0.0       |  1   |
|      0      |     Jesse Ventura     | 0.818918918919 |  2   |
|      0      |     John Kitzhaber    | 0.824615384615 |  3   |
|      0      |     Lincoln Chafee    | 0.833876221498 |  4   |
|      0      |      Anthony Foxx     | 0.833910034602 |  5   |
+-------------+-----------------------+----------------+------+
[5 rows x 4 columns]

In [63]:
elton_john = people[people['name'] == "Elton John"]

In [71]:
elton_john_word_count_table = elton_john[['word_count']].stack('word_count', new_column_name = ['word','count'])

In [73]:
elton_john_word_count_table.sort('count', ascending=False)

Columns:
	word	str
	count	int

Rows: 255

Data:
+-------+-------+
|  word | count |
+-------+-------+
|  the  |   27  |
|   in  |   18  |
|  and  |   15  |
|   of  |   13  |
|   a   |   10  |
|  has  |   9   |
|  john |   7   |
|   he  |   7   |
|   on  |   6   |
| award |   5   |
+-------+-------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [74]:
elton_john[['tfidf']].stack('tfidf', new_column_name = ['word','tfidf']).sort('tfidf', ascending=False)

Columns:
	word	str
	tfidf	float

Rows: 255

Data:
+---------------+---------------+
|      word     |     tfidf     |
+---------------+---------------+
|    furnish    |  18.38947184  |
|     elton     |  17.48232027  |
|   billboard   | 17.3036809575 |
|      john     | 13.9393127924 |
|  songwriters  |  11.250406447 |
| tonightcandle | 10.9864953892 |
|  overallelton | 10.9864953892 |
|    19702000   | 10.2933482087 |
|   fivedecade  | 10.2933482087 |
|      aids     |  10.262846934 |
+---------------+---------------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [75]:
posh_spice = people[people['name'] == "Victoria Beckham"]
sir_paul = people[people['name'] == "Paul McCartney"]

In [77]:
knn_model.query(sir_paul)

PROGRESS: Starting pairwise querying.
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | Query points | # Pairs | % Complete. | Elapsed Time |
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | 0            | 1       | 0.00169288  | 29.23ms      |
PROGRESS: | Done         |         | 100         | 501.092ms    |
PROGRESS: +--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------+----------------+------+
| query_label | reference_label |    distance    | rank |
+-------------+-----------------+----------------+------+
|      0      |  Paul McCartney |      0.0       |  1   |
|      0      |   Stevie Nicks  | 0.796296296296 |  2   |
|      0      |   Phil Collins  | 0.800578034682 |  3   |
|      0      |  Stevie Wonder  | 0.801526717557 |  4   |
|      0      |    Barry Gibb   | 0.802469135802 |  5   |
+-------------+-----------------+----------------+------+
[5 rows x 4 columns]

In [79]:
knn_model.query(posh_spice)

PROGRESS: Starting pairwise querying.
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | Query points | # Pairs | % Complete. | Elapsed Time |
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | 0            | 1       | 0.00169288  | 23.4ms       |
PROGRESS: | Done         |         | 100         | 493.154ms    |
PROGRESS: +--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+------------------+----------------+------+
| query_label | reference_label  |    distance    | rank |
+-------------+------------------+----------------+------+
|      0      | Victoria Beckham |      0.0       |  1   |
|      0      |   Cheryl Cole    | 0.800586510264 |  2   |
|      0      |    Heidi Klum    | 0.810344827586 |  3   |
|      0      |   Simon Fuller   | 0.822742474916 |  4   |
|      0      |      Adele       | 0.824915824916 |  5   |
+-------------+------------------+----------------+------+
[5 rows x 4 columns]

###Word Count Models

In [86]:
knn_model_word_count_features = gl.nearest_neighbors.create(people, features = ['word_count'], label='name', distance='cosine')

PROGRESS: Starting brute force nearest neighbors model training.

###TFIDF Model

In [85]:
knn_model_tfidf_features = gl.nearest_neighbors.create(people, features = ['tfidf'], label='name', distance='cosine')

PROGRESS: Starting brute force nearest neighbors model training.

In [87]:
knn_model_word_count_features.query(posh_spice)

PROGRESS: Starting pairwise querying.
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | Query points | # Pairs | % Complete. | Elapsed Time |
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | 0            | 1       | 0.00169288  | 25.938ms     |
PROGRESS: | Done         |         | 100         | 446.762ms    |
PROGRESS: +--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+--------------------------+--------------------+------+
| query_label |     reference_label      |      distance      | rank |
+-------------+--------------------------+--------------------+------+
|      0      |     Victoria Beckham     | -2.22044604925e-16 |  1   |
|      0      | Mary Fitzgerald (artist) |   0.207307036115   |  2   |
|      0      |      Adrienne Corri      |   0.214509782788   |  3   |
|      0      |     Beverly Jane Fry     |   0.217466468741   |  4   |
|      0      |      Raman Mundair       |   0.217695474992   |  5   |
+-------------+--------------------------+--------------------+------+
[5 rows x 4 columns]

In [88]:
knn_model_tfidf_features.query(posh_spice)

PROGRESS: Starting pairwise querying.
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | Query points | # Pairs | % Complete. | Elapsed Time |
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | 0            | 1       | 0.00169288  | 28.625ms     |
PROGRESS: | Done         |         | 100         | 586.828ms    |
PROGRESS: +--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+---------------------+-------------------+------+
| query_label |   reference_label   |      distance     | rank |
+-------------+---------------------+-------------------+------+
|      0      |   Victoria Beckham  | 1.11022302463e-16 |  1   |
|      0      |    David Beckham    |   0.548169610263  |  2   |
|      0      | Stephen Dow Beckham |   0.784986706828  |  3   |
|      0      |        Mel B        |   0.809585523409  |  4   |
|      0      |    Caroline Rush    |   0.819826422919  |  5   |
+-------------+---------------------+-------------------+------+
[5 rows x 4 columns]

In [91]:
knn_model_word_count_features.query(elton_john)

PROGRESS: Starting pairwise querying.
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | Query points | # Pairs | % Complete. | Elapsed Time |
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | 0            | 2       | 0.00338576  | 17.982ms     |
PROGRESS: | Done         |         | 100         | 400.302ms    |
PROGRESS: +--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-------------------+-------------------+------+
| query_label |  reference_label  |      distance     | rank |
+-------------+-------------------+-------------------+------+
|      0      |     Elton John    | 2.22044604925e-16 |  1   |
|      0      |   Cliff Richard   |   0.16142415259   |  2   |
|      0      |   Sandro Petrone  |   0.16822542751   |  3   |
|      0      |    Rod Stewart    |   0.168327165587  |  4   |
|      0      | Malachi O'Doherty |   0.177315545979  |  5   |
+-------------+-------------------+-------------------+------+
[5 rows x 4 columns]

In [90]:
knn_model_tfidf_features.query(elton_john)

PROGRESS: Starting pairwise querying.
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | Query points | # Pairs | % Complete. | Elapsed Time |
PROGRESS: +--------------+---------+-------------+--------------+
PROGRESS: | 0            | 1       | 0.00169288  | 25.534ms     |
PROGRESS: | Done         |         | 100         | 495.605ms    |
PROGRESS: +--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+------------------+--------------------+------+
| query_label | reference_label  |      distance      | rank |
+-------------+------------------+--------------------+------+
|      0      |    Elton John    | -2.22044604925e-16 |  1   |
|      0      |   Rod Stewart    |   0.717219667893   |  2   |
|      0      |  George Michael  |   0.747600998969   |  3   |
|      0      | Sting (musician) |   0.747671954431   |  4   |
|      0      |   Phil Collins   |   0.75119324879    |  5   |
+-------------+------------------+--------------------+------+
[5 rows x 4 columns]

In [93]:
elton_john_posh_spice = gl.distances.cosine(posh_spice['tfidf'][0], elton_john['tfidf'][0])
elton_john_posh_spice

0.9567006376655429

In [95]:
elton_john_sir_paul = gl.distances.cosine(sir_paul['tfidf'][0], elton_john['tfidf'][0])
elton_john_sir_paul

0.825031002922178